body {
  text-align: center;
}

.navbar {
  background-color:#66BFBF;
}

#navbarsExample07 {
  padding-left: 50%;
}

#header {
  background-color:#66BFBF;
  height: 1200px;
}

#headline {
  color:#11999E;
  font-family: 'Sacramento', cursive;
  font-weight: bolder;
  font-size: 7em;
  padding-top: 300px;
}

#portrait {
  border-radius: 50%;
  width: 100%;
  max-width: 200px;
  height: auto;
}

#aboutme {
  background-color:#ddf3f5;
  height: 1000px;
  padding-top: 300px;
}

#profile {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 300px;
}

#hobbies {
  background-color:#66BFBF;
  height: 1000px;
  padding-top: 300px;
}

#diving {
  width: 50%;
  height: 300px;
}

#scuba {
  border-radius: 10%;
  width: 100%;
  max-width: 400px;
  height: auto;
}

#contactme {
  background-color:#ddf3f5;
  height: 1000px;
  padding-top: 300px;
}

#social {
  width: 100%;
  height: auto;
  font-size: 4em;
  padding: 200px auto;
}

.social-link {
  display: inline-block;
  margin: 0 2%;
}

#contactme > p {
  padding-top: 100px;
}

hr {
  border-color: #11999E;
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  width: 8%;
  position: absolute;
  left: 46%;
}
